html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Raleway", "Arial", sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    list-style-type: none;


}

.clearfix::after {
    content: "";
    display: table;
    clear: both;

}



.link {
    list-style-type: none;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #1abc9c;
}

.head {
    font-size: 30px;
    text-transform: uppercase
}

.site-logo {
    float:left;
    display: block;
    margin-top:30px;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}


.features {
    max-width: 1110px;

}


.navigation {

    float: right;
}


.featured-prod {
    font-size: 0;
    padding: 0;
    float: right;



}

.featured-prod li {
    float: left;
    list-style-type: none;
    height: 15px;
    margin: 30px;
    font-size: 14px;

}

.main-content-list {
    font-size: 48px;
    text-align: center;
    color: #515151;
    margin: 100px;
    line-height: 76px;
}

.main-content-list::after {
    content: "";
    width: 165px;
    height: 8px;
    display: table;
    background-color: green;
    margin: 0 auto;
}

.product-wrapper {
    display: block;
    height: auto;
    list-style-type: none;
    font-size: 0;
    padding-left: 0;
    margin-top: 0;


}

.product-wrap {
    margin-right: 20px;
    float: left;
    margin-bottom:20px;
}







.price {
    font-size: 18px;
    width: 255px;

}


.price:hover {
    background-color: green;
}

li.product-wrap:nth-child (4n +4) {
    margin-right: 0px;
}










.item-name {
    float: left;
    width: 200px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    background-color: #323232;
    color: white;
    margin: 0 auto;
    padding-left: 15px;
}


.price:hover {
    background-color: #1abc9c;
}

.features_list:hover .item-name {
    background-color: #1abc9c;
}

.features_list:hover .usd {
    background-color: #7fd9c7;
}


.features_list img {
    height: 282px;
    object-fit: cover;
}




.usd {
    float: right;
    width: 55px;
    height: 40px;
    line-height: 40px;
    text-align: middle;
    background-color: #8c8c8c;
    color: white;
    margin: 0 auto;
    padding-left: 15px;
}

.product-wrapper-second {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

.product-news {
    float: left;
    margin-right: 30px;
}

.features_list2 img {
    height: 282px;
}

.product-news:nth-of-type(3n) {
    margin-right: 0px;
}

.news {
    width: 280px;
}

.news-header::after {
    content: "";
    width: 40%;
    height: 5px;
    ;
    background-color: green;
    display: table;

}
.news-header {
    font-size:18px;
    color:#747272;
}
.news-article {
    font-size:14px;
    color:#555252;
}

.button {width:160px;height:55px; 
background-color:#4ec6ab;
cursor:pointer;
color:white; }