html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Raleway", "Arial", sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}



.container {
    max-width: 1110px;
    margin: 0 auto;
    
}

.page-header {
    max-width: 100%;
    padding-top:45px;
    bottom:45px;
}


.site-logo {
    margin: 35px 565px 15px 85px;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    float:left;

}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}


.page-nav {
    float:right;
}

.nav {}





.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

.link {
    list-style-type: none;
    color: black;
    float: left;
    margin-right: 45px;
    font-size: 48px;}

    .link:last-child{
        margin-right: 0;
        }




.wrapper {
    

}

.tool {
    text-decoration: none;
    font-size: 30px;
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}


.tool:hover {
    color: #1abc9c;
}

.section-first {
    background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, .3) 20%),url(../img/girls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 600px;
    

}

.slide-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.slide-content {
    display: block;
    color: white;
    text-transform: uppercase;
    width: 700px;
    margin: 0 auto;




}

.head {
    font-size: 50px;
    line-height: 35px;
    margin-bottom: 35px;

}

.tours {
    font-size: 25px;


}

.button {
    width: 100px;
    height: 105px;
    color: white;
    position: absolute;
    font-size: 50px;
    background-color: rgba(26, 188, 156, 0);
    border: 0;
}

.left-button {
    left: 0%;

}

.right-button {
    right: 0%;
}

.button:hover {
    font-weight: bold;
    background-color: rgba(26, 188, 156, 1);
}






.site-logo {
    margin: 35px 565px 15px 85px;
    display: block;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.section-first {}

.slide-content {}

.new-collection {
    vertical-align: middle;
    padding: 0;
    padding-bottom: 36px;
    padding-top:100px;

}

.new-collection-list {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 250px;
    color: #555252;
    margin: 0;
    line-height: 76px;
    margin-bottom: 80px;
}

.new-collection-list::after {
    content: "";
    width: 165px;
    height: 8px;
    border: solid 2px;
    border-color: #1abc9c;
    display: block;
    margin: 0 auto;
    background-color: #1abc9c;
   




}









.collection-list {
    list-style: none;

}

.collection-list-item {
    margin-right: 30px;
    float: left;
    display: block;
    position: relative;


}

.collection-list-item:nth-of-type(4n) {
    margin-right: 0;
}

.collection-item {
    font-size: 18px;
    text-transform: uppercase;
    width: 255px;


}

.collection-name {
    font-size: 18px;
    width: 200px;
    height: 40px;
    float: left;
    background-color: #323232;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding-left: 15px;





}

.price {
    font-size: 18px;
    width: 55px;
    height: 40px;
    float: right;
    background-color: #8c8c8c;
    text-align: middle;
    line-height: 40px;
    color: white;
    padding-left: 15px;



}

.box {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 11px;
    width: 235px;
    height: 260px;
    background-color: rgba(115, 115, 115, 0);
    opacity:0;

}





.buttons-box {
    position: absolute;
    left: 0;
    width: 100%;
    height: 105px;
    z-index: 1;
    text-align: center;
    top: 33%;


}

.heart {
    width: 60px;
    height: 60px;
    border: solid 1px;
    color: white;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../icons/heart.png)
}

.arrow {
    width: 60px;
    height: 60px;
    border: solid 1px;
    color: white;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../icons/arrow.png)
}

.clock {
    width: 60px;
    height: 60px;
    border: solid 1px;
    color: white;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../icons/clock.png)
}

.market {
    width: 186px;
    height: 60px;
    border: solid 1px;
    color: white;
    background-color: transparent;
    background-position: 10px;
    background-repeat: no-repeat;
    background-image: url(../icons/market.png);
    text-transform:uppercase;
    font-size:14px;
    text-align:center;
    
}

.collection-list-item:hover .collection-name {
    background: #1abc9c;
}

.collection-list-item:hover .price {
    background: #7fd9c7;
}

.collection-list-item:hover .box {
    opacity:1;
}

.collection-list-item:hover .market {
    background-color: #323232;
}

.heart:hover {
    background-color: #1abc9c;
}


.arrow:hover {
    background-color: #1abc9c;
}

.clock:hover {
    background-color: #1abc9c;
}

.market:hover {
    background-color: #323232;
}

.page-footer {
    background-color: #323232;
    text-align: center;
    font-size: 16px;
    color: #fffff;
    padding: 40px 0;
    top: 10%;
}

.footer-text {
    margin: 0;
}

span {
    font-size: 18px;
    color: #46bfa9;
}