html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: "KaushanScript";
    src: url("../fonts/KaushanScript-Regular.ttf") format("woff2");

}



.page-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.page-head__site-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 90px;
    height: 20px;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    margin-top: 30px;
}


.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 490px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 130px;
}

.page-head__page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    margin-bottom: 70px;
}

.site-navigation__link {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.site-navigation__icon {
    fill:white;
    width:20px;
    height: 20px;
    background-color: transparent;
    border:none;
}

.site-navigation__link:hover {
    color: yellow;
}

.site-navigation__icon:hover {
    fill:yellow;
}

.site-navigation__item {}
    

.site-navigation__button {background-color:transparent;
border:none;
outline:none;}



.site-navigation__link:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    border: solid 2px;
    border-color: yellow;
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    margin: 0 auto;
    background-color: #f38181;
}

.main_content__title {
    font-size: 24px;
    color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
}

.main_content__about {
    font-size: 30px;
    color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}

.main_content__about::after {
    content: "";
    border: solid 4px red;
    display: table;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    border: solid 2px;
    border-color: red;
    background-color: red;
    margin-top:45px;
    margin-bottom:45px;

    

}

.icons-set {
    width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}

.icons-set__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 335px;
    height: 70px;
    margin-bottom: 100px;

}

.icons-set__content svg {
    width: 34px;
    fill: #95e1d3;
    
}

.icon {
    margin: 0 30px;
    width: 32px;
    height: 32px;
}

.text {
    width: 100%;
    max-width: 270px;
    padding-right:28px;


}



.specialists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding:0;
    margin:0;
    list-style:none;
}

.specislist__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    position:relative;
}

.specislist__picture {
    width:380px;
    height:470px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-transition:0.3s linear;
    -o-transition:0.3s linear;
    transition:0.3s linear;
}

.specislist__item:hover .specislist__picture {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.specislist__item:hover {
    opacity: 1;
   
    
}

.dude:hover .dude {
    width: 380px;
    height: 470px;
}

.specialists__info {
    text-align: center;
}

.specialists__inform {
    position: absolute;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
    width:380px;
    height: 470px;
    z-index:0;
    background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)) );
    background-image:-webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    background-image:-o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    background-image:linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    -webkit-transition:0.3s linear;
    -o-transition:0.3s linear;
    transition:0.3s linear;
    opacity:0;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.buttons {
    width: 223px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:0 auto;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
    /*background: rgba(0, 128, 0, 0.38);*/
}

.specislist__item:hover .specialists__inform {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0;
            box-shadow: 10px 10px 0;
    color: #95e1d3;
    opacity: 1;
}

.specislist__item:hover .specialists-info__buttons {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 149, 140, .6)), to(rgba(241, 211, 138, .6)));
    background-image: -webkit-linear-gradient(top, rgba(242, 149, 140, .6) 0%, rgba(241, 211, 138, .6) 100%);
    background-image: -o-linear-gradient(top, rgba(242, 149, 140, .6) 0%, rgba(241, 211, 138, .6) 100%);
    background-image: linear-gradient(to bottom, rgba(242, 149, 140, .6) 0%, rgba(241, 211, 138, .6) 100%);
    opacity: 1;

}


.last-field__button {
    width: 155px;
    height: 40px;
}

.specialists-info__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    opacity: 0;
    border: 1px;

}

.specialists-info__socials--facebook:hover {
    background: #f38181;
    fill:white;
    border: none;
    width: 55px;
    height: 55px;


}

.twitter:hover {
    background: #f38181;
    border: none;
    width: 55px;
    height: 55px;
    fill:white;

}

.pinterest:hover {
    background: #f38181;
    border: none;
    width: 55px;
    height: 55px;

}

.instagram:hover {
    background: #f38181;
    border: none;
    width: 55px;
    height: 55px;



}

.specialists-info__socials--facebook  {
    position: absolute;
    top:45%;
    left:20%;

}

.twitter  {
    position: absolute;
    top:45%;
    left:35%;
    
}

.pinterest  {
    position: absolute;
    top:45%;
    left:50%;
}

.instagram  {
    position: absolute;
    top:45%;
    left:65%;
}


.specialists-info__socials {
    background-color: #fce38a;
    width: 55px;
    height: 55px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1px;
    border:none;
    padding: 0;
    z-index:0;
    

}

.specialists-info__socials:hover .svg {
    fill:white;
}

/*.facebook {
    background-image: url(../icons/facebook.svg);
}

.twitter {
    background-image: url(../icons/twitter.svg);
    

}

.pinterest {
    background-image: url(../icons/pinterest.svg);
    

}

.instagram {
    background-image: url(../icons/instagram.svg);
    

}*/

.team {
    margin-bottom: 95px;
}

.page_footer {}

.last-field__button {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    text-transform: uppercase;
    padding: 0;
}

.last-field__input {
    width: 230px;
    height: 40px;
    margin-right: 0px;
    border-right: none;
}

.last-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse row;
            flex-flow: row-reverse row;

}

.last-field__outro {
    text-align: center;
    width: 300px;
    height: 15px;
}

.last-field__word {
    color: red;
    margin-left: 5px;
}

.last-field__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.specialists__info_name {
    color: #333333;
    font-size: 14px;
    margin-top: 30px;
}

.specialists__info_profession {
    color: #9f9f9f;
    font-size: 15px;
    margin-top: 18px;
}

.team__team_description {
    text-align: center;
    font-size: 15px;
    color: #9f9f9f;
    margin-bottom:95px;


}

.text__icon-discription {
    font-size: 15px;
    color: #999999;
}

.text__icon-name {
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;

}

.eagle {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/eagle.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/eagle.jpg);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/eagle.jpg);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/eagle.jpg);
    height: 1000px;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 15px auto;
    margin-bottom:50px;
}


.main_board {
    color: white;
}

.main_board__template {
    font-size: 72px;
    color: white;
    text-align: center;
    font-family: 'KaushanScript';
    font-weight: normal;
}

.main_board__welcome {
    font-size: 150px;
    color: white;
    text-align: center;
}

.main_board__header-button {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    padding: 10px;
    display: block;
    width: 158px;
    text-align: center;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;

}

.svg {
    width: 20px;
    height: 20px;
    fill: #f38181;
    margin:17px;
    background-position:center;
    background-color:inherit;
    z-index:1;

}

.iconz .site-navigation__link:hover::after {
    display: none;
}

.site-navigation__link:hover svg {
    fill: yellow;
    background:#f38181;
}

.team__title_wrapper {margin-bottom:90px;

}