html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.site-nav {
    color: #626262;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.link {
    font-size: 14px;
    display: block;
}

.site-nav a:hover {
    color: #03a9f4;
}

.site-nav li {
    display: inline-block;
    vertical-align: middle;
}

.site-nav li:not(:last-child) {
    margin-right: 120px;
}

.content {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

.content-list {
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 60px;
}

.img-item {
    display: inline-block;
    margin-right: 60px;
    width: 420px;
    margin-bottom: 60px;
}

.img-item:nth-child(-n +2) {
    margin-bottom: 0;
}

.img-item:nth-child(2n) {
    margin-right: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.image {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.item {
    margin: 0;
    font-size: 14px;
    margin-bottom: 30px;
}

.main-text {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
}

.description {
    margin: 0;
    font-size: 14px;
}

.page-nav {
    padding: 75px 0;
}

.button {
    padding: 0;
    margin: 0;
    width: 170px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    margin-right: 360px;
    margin-left: 360px;
}